a {
	text-decoration: none;
	color: black;
}
body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: gray;
	font-family: 'Concert One', cursive;

}
header {
	margin-top: 10px;
	padding-top: 10px;
	min-width: 960px;
}
nav {
	font-size: 30px;
}
section {

}
aside {
	display: block;
}
footer {
	clear: both;
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 85%;
}
.main-container {
	min-width: 960px;
	width: 1024px;
	margin: 50px auto;
	background-color: white;
}
.body-photo {
	float: left;
	height: 500px;
	width: 650px;
	border: none;
	margin: auto;
}
.locations {
	height: 500px;
	width: auto;
	float: right;
	margin: 0 10px 0 10px;
	vertical-align: middle;
	display: inline;
}
.location-name {
	vertical-align: middle;
	margin: auto;
	font-size: 24px;
}
.blurb {
	font-family: sans-serif;
	clear: both;
	font-size: 18px;
	height: 250px;
}
.blurb p {
	padding-left: 20px;
	padding-right: 20px;
}
.blurb p:first-child {
	padding-top: 40px;
}
#main-content {
	padding-top: 30px;
}
#top-box, #middle-box, #bottom-box {
	height: 33%;
	min-height: 100px;
	width: 325px;
	display: block;
	background-repeat: no-repeat;
	background-color: gray;
}
#top-box {
	margin: 0 0 3px 0;
	background-image: url("images/1st-store.jpg");
	background-size: cover;
}
#middle-box {
	margin: 3px 0 3px 0;
	background-image: url("images/2nd-store.jpg");
	background-size: cover;
}
#bottom-box {
	margin: 3px 0 0 0;
	background-image: url("images/online-store.jpg");
	background-size: cover;
}
#logo {
	float: left;
	font-size: 50px;
}
#navigation {
	float: right;
	height: auto;
	width: auto;
	margin-right: 10px;
}
#navigation li {
	display: inline;
	padding: 2px 2px 2px 2px;
	margin: 2px 2px 2px 2px;
}
#navigation ul {

}
#main-content {
	clear: both;
}
#body-photo {
	height: 100%;
	width: 100%;
}